<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="MyProject" translate="label" sortOrder="1">
            <label><![CDATA[MyProject]]></label>
        </tab>
        <section id="applicationinsights" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>MyProject</tab>
            <label>Application Insights</label>
            <resource>MyProject_ApplicationInsights::config</resource>
            <group id="module" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1" translate="label">
                <label>Enable Application Insights Module</label>
                <comment><![CDATA[This module offers the possibility to execute Azure tracking of all exception, request, events and metrics.]]></comment>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
		<field id="instrumentationkey" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Instrumentation Key</label>
                    <comment>Enter the Instrumentation key provided in your Azure account.</comment>
		    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
